// Charts styles from toolbox
@import "./charts";
// SVG Icons
@import "./icons";
// Import the local modules styles
@import './components';
// Print styles
@import "./print";
// Browser update script styles
@import './browserUpdate';
//pure.react.carousel styles
@import '~pure-react-carousel/dist/react-carousel.es.css';

// UQ Design System styles
@import 'UQds';

button.carousel__back-button, button.carousel__next-button, button.carousel__play-button {
  appearance: none;
  color: white;
  background-color: transparent !important;
  border: none;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  :focus {
    outline: -webkit-focus-ring-color auto 1px;
  }
  & svg {
    width: 36px;
    height: 36px;
  }
  &:disabled {
    appearance: none;
    color: white;
    background-color: transparent !important;
    border: none;
    & svg {
      opacity: 0.3;
    }
  }
}

html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #F7F7F7;
}

a {
  color: #3872a8;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.noHover {
    &:hover {
      text-decoration: none;
    }
  }
}

.smallLogo,
.largeLogo {
  color: transparent;
  background: center center url(../../src/images/uq-logo-white-minimal.svg) no-repeat;
}

.largeLogo {
  background-image: url('../../src/images/uq-logo-white-2018.svg');
}

.layout-fill {
  margin: 0; padding: 0;
  max-height: 100%;
  height: 100%;
}

.layout-card {
  max-width: 1200px;
  margin: 12px auto;
  width: 90%;
  padding: 0;
}

// The container which houses content
.content-container {
  display: flex;
  position: relative;
  flex: 0 1 auto;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0;
  //minHeight: 200px;
  height: 100% !important;
}

.content-header {
  flex: 0 1 auto;
}

// Citation styles
.citationContent {
  .citationJournalName, .citationTitle, .citationNewspaper, .citationVolumeNumber {
    font-style: italic;
  }
}

.image-gallery-thumbnails-wrapper {
  position: absolute !important;
  bottom: 5px !important;
  right: 10px !important;
  width: 43% !important;
}

abbr {
  text-decoration: none !important;
}

#skipNavigation {
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;

  background-color: #000;
  color: #FFF;
  left: 300px;
  margin: 5px;
  padding: 1rem 0.5rem;
  top: -50px;
}

#skipNavigation:focus {
  transform: translateY(0%);
  outline: #73B8F9 auto 5px;
  outline-offset: -4px;
  top: auto;
}
