# duplicate this file as .env
# restart mock to apply a change in any of these values
NODE_PATH=src/
GOOGLE_MAPS_API_KEY='key'
HOMEPAGE_STAGING_HOST=https://staging
#API_URL='http://dev-api.library.uq.edu.au:8050/'
#API_URL='https://api.library.uq.edu.au/staging/'
#BARCODE_SCANNER_WASM_PATH='/vendor/zxing_reader-2.2.4.wasm' // works with both remote or local files
