# duplicate this file as .env
# restart mock to apply a change in any of these values
NODE_PATH=src/
GOOGLE_MAPS_API_KEY='key'
HOMEPAGE_STAGING_HOST=https://staging
#API_URL='http://dev-api.library.uq.edu.au:8050/'
#API_URL='https://api.library.uq.edu.au/staging/'
